
*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;

	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
.raleway{
	font-family: 'Raleway', sans-serif;
}
.h1-titlez{
	font-weight:500;}
.h1-titlez b{
	font-weight:900;}
th{

}
.th{
  text-align: center;
}

td{

}
.td{
  text-align: center;
}

body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
html, body {
    display: flow-root;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.display-block{
	display:block;}
/* Article */

.orange-p {
    font-weight: 700;
    color: #ff9c31;
    font-size: 20px;
}

.red-h1 {
    font-weight: 900;
    font-size: 27px;
    padding-right: 20px;
    margin-bottom: 5px;
}
.left-contributor-div{
	padding-left:0 !important;}
.contributor-p {
    font-weight: 700;
    color: #808080;
    padding-left: 2%;
    font-size: 17px;
    margin-bottom: 0;
	font-weight:300;
}

.blue-date {
    font-weight: 300;
    color: #89bae7;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
}
p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
   /* font-size: 18px;*/
}
.article-css-control p, .article-css-control h1, .article-css-control span, .article-css-control h2, .article-css-control h3, .article-css-control h4, .article-css-control h5, .article-css-control h6,  .article-css-control b, .article-css-control{
	/*color:#3b6a94;*/
	margin-top: 25px !important;
    margin-bottom: 25px !important;
    /*font-size: 18px !important;
	text-align: justify;
    text-align-last: center;*/
	vertical-align: middle;}
.pink-span {
    color: #eb3f79;
}

.top-article-img {
    width: 100%;
    margin-bottom: 20px;

}

p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
}

.content-article-img {
    width: 100%;
}

.ads2 {
    width: 100%;
    margin-bottom: 4% !important;
    margin-top: 4% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.content-a {
    color: #eb3f79;
    text-decoration: underline !important;
}

.left-top-article {
    width: 30%;
    margin-left: 2%;
    float: left;
}

.right-top-article {
    float: right;
    margin-right: 3%;
}

/*End of article*/
.content {
    width: 75%;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-bottom: 50px;

}

.fb-share-button {
    float: left;
}

.fb-share-a {
    text-decoration: none !important;
}

.twitter-share-button {
    text-decoration: none !important;
    color: #64e7f9 !important;
    float: left;
}

.twitter-share-button:hover {
    text-decoration: none !important;
    color: #00aced !important;
}

a.bookmark-a {
    float: left;
    margin-top: -67%;
    margin-left: 23px;
}

.left-contributor-div {
    width: 50%;
    float: left;
}

.bookmark-img {
    width: 28px;
}

.flaticon-facebook-letter-logo:before {
    font-size: 25px;
}

.flaticon-twitter-logo-silhouette:before {
    font-size: 25px;
}

.right-share-div {
    float: left;
    margin-right: 3%;
    width: 46%;
    text-align: right;
}

a.like-a {
    color: grey;
    font-size: 24px;
}

span.like-amount {
    font-size: 16px;
    margin-left: 5px;
}

a.comment-a {
    color: grey;
}

span.comment-amount {
    font-size: 16px;
    margin-left: 3%;
}

.share-a {
    color: grey !important;
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    margin: 0 !important;
}

a.like-a:hover {
    color: #ff3333;
}

a.comment-a:hover {
    color: #ff3333;
}

.share-a:hover {
    color: #ff3333;
}

a.like-a:active {
    color: #ff3333;
}

a.comment-a:active {
    color: #ff3333;
}

.share-a:active {
    color: #ff3333;
}

.dropdown.dropdown-share {
    width: auto;
    float: right;
    margin-top: 4px;
}

.dropdown-menu-share {
    right: 0 !important;
    left: inherit !important;
}

a.share-dropdown-a {
    width: 100%;
    clear: both;
    display: block;
}

.flaticon-printing-tool:before {

    color: white;
    background-color: grey;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
}

.flaticon-gmail-logo:before {

    color: #e67c73 !important;
    font-size: 20px !important;

}

.flaticon-pinterest:before {

    color: #cb2027 !important;
}

i.flaticon-printing-tool.print-icon:hover {

    background-color: #bf1616;
}

.flaticon-printing-tool:after {
    background-color: #bf1616;

}

a.share-dropdown-a {
    color: #3b5998 !important;
    font-weight: 700;
}

a.share-dropdown-a:hover {
    color: white !important;
    background-color: #bf1616 !important;
}

.fb2 {
    width: 100% !important;
}

.flaticon-twitter:before {

    font-size: 20px !important;
    color: #1da1f2;
}

.flaticon-google-plus-1:before {
    font-size: 20px !important;
}

.background-div {
    width: 100%;
    background-color:#fff6f6;
	overflow: hidden;
}

.table-css {
    width: 100%;
	border-collapse:collapse;
}
.table-css th {
    background-color: #eea2a4;
    color: white;
    padding: 5px 10px;
	font-weight: 800;
}
.table-css td {
    padding: 5px 10px;
	border-bottom: 1px solid #eea2a4;		
}
.ow-content-gap {
    border: 0;
    width: 100%;
}
.edit-btn {
    border: 0;
    background-color: #eea2a4;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 5px;
	word-break: keep-all;
}
.edit-btn:hover {
	background-color:#f18c8c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.article-card{
	border:0 !important;
    -webkit-box-shadow: 0px 0px 15px 5px #85b8e626;
    box-shadow: 0px 0px 15px 5px #85b8e626;
	margin-bottom: 12px;

}
.article-bg-img-box, .overwrite-img-a {
    height: 200px;
    overflow: hidden;
}
.blog-content-div1 {
    width: 50% !important;
}	
.box2 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.peach-text{
    color: #ffae68;
}
.source-p {
    color: #b9b9b9;
    margin-bottom: 30px;
	text-align:center;
	padding-left: 10px;
    padding-right: 10px;
	margin-top:0;
}
.tevy-textarea {
    border-radius: 5px;
	min-height: 170px;
}
.one-line-textarea{
    border-radius: 5px;}
.three-line-textarea{
    border-radius: 5px;}
.recommended {
    width:75% !important;
    margin-left: 12.5% !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
}
.refer-png {
    height: 25px;
    margin-left: 5px;
}
.step-p {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
	    margin-top: 50px;
}
.step-p2 {
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
}
.tutorial-div img {
    width: 70%;
    margin-left: 15%;
	border: 2px solid #900a0a;}
.close-btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.youtube-video-iframe {
    width: 100%;
    height: 500px;
}
.article-css-control iframe{
    width: 100%;
    height: 500px;
	margin-top: 20px;
    margin-bottom: 20px;
}
.article-css-control{ 
    width: 100%;
    overflow: hidden;
	padding: 0;
}

.article-css-control a {
  
    text-decoration: underline !important;
}
.article-css-control a:hover {
	
}
.article-css-control a span{
  
    text-decoration: underline !important;
}
.article-css-control a span:hover {
	
}
.article-css-control a span u{
   
    text-decoration: underline !important;
}
.article-css-control a span u:hover {
	
}
.article-css-control img {
	width: 70% !important;
    height: auto !important;
	margin-left:15%;
	margin-right:15%;
	clear:both;
	margin-top: 10px;
    margin-bottom: 10px;}
.article-css-control .feather-png {
    width: 20px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
	margin-right:0 !important;
	vertical-align: bottom;
    margin-bottom: 0;
}
.grey-bg-ow {
    background-color: #cccccc !important;
}
.grey-bg-ow:hover {
    background-color: #b7a7a7 !important;
}
.red-h1 {
    word-break: break-all;	
}
.overwrite-img-a{
    display: block;
    height: 250px;
    width: 30%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.article-card {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    margin-top: 2%;
    border: 1px solid #999999;
    min-height: 250px;
}
.article-css-control table {
    width: calc(100% - 5px) !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-collapse: collapse !IMPORTANT;
}
.article-css-control div{
	margin-left:0 !important;
	margin-right:0 !important;}
.article-css-control td, .article-css-control  th {
    padding: 3px 10px !important;
	border-collapse: collapse !important;
	vertical-align: top;
	padding-left:0 !important;
}
.border-div {
    width: 100%;
    border-top:1px solid #bc1010;
    margin-top: 50px;
}
.padding20{
	padding-left:20px;
	padding-right:20px;}
.article-img1 {
    width: 100%;
}
.small-date {
    font-size: 10px;
}
.article-title-a {
    font-weight: 900;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 18px;
}
.text-content-div {
    height: 60px;
    overflow: hidden;
    width: 100%;
	font-size: 13px;
}
.min-height2 {
    min-height: calc(100vh - 22.5px);
}
/* End of Article */
.white-bg{
	background-color:white;}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}
.text-center{
	text-align:center;}
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
.color-black{
	color:black !important;}
.color-black:hover{
	color:white !important;}
	/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}*/

.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	min-height:100vh;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.width50 {
    width: 50%;
}

.left-red-div {
    float: left;
    height: 100vh;
}
.login-img {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 10vh;
}
.right-grey-div {
    float: right;
    padding-right: 7.5%;
    padding-left: 7.5%;
	padding-top: calc(50vh - 220px);
	min-height:100vh;
}
.grey-bg{
	background-color:#f0f1f2;
	}
.tele-h1 {
    font-weight: 900;
}
.login-p {
    font-weight: 600;
}
.tele-input {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff7d7d5c;
    border: 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}
.margin-bottom {
    margin-bottom: 50px;
}
.red-btn {
    border: 0;
    background-color: #BC1010;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}
.red-btn:hover{
	background-color:#900a0a;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.side-bar {
    width: 300px;

    padding-top: 30px;
    height: 100vh;
    position: fixed;
}
.logo-img {
    width: 150px;
    margin-left: 75px;
}
.sidebar-ul {
    margin-top: 30px;
	padding: 0;
	
}
.sidebar-li {
    list-style: none;
    color: white;
    padding: 8px 0;
	clear: both;
	overflow: hidden;
	padding-left: 50px;
}
.sidebar-li img {
    width: 30px;
	float:left;
}
.sidebar-li p {
    float: left;
    margin-top: 8px;
	margin-left:25px;
	font-weight: 500;
	margin-bottom: 0;
}
.sidebar-li:hover{
	color:#264a9c;
	background-color:#f0f1f2;
	transition:.25s ease-in-out;}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;}
.next-to-sidebar {
    margin-left: 300px;
    width:calc(100% - 300px);
    padding-left: 50px;
    padding-right: 50px;
	overflow:hidden;
	min-height:100vh;
	background-color:#f0f1f2;
	padding-top: 50px;
}
.four-div {
    background-color: white;
    float: left;
    width: 22%;
    border-radius: 10px;
	text-align: center;
}
.left-mid-four {
    margin-left: 4%;
    margin-right: 4%;
}
.right-mid-four {
    margin-right: 4%;
}
.big-icon {
    width: 50%;
	text-align:center;
}
.white-to-pink-div {
    padding: 20px;
	background-color:white;
}

.four-div p {
    font-weight: 600;
	color: black;
}
.white-to-pink-div:hover{
	background-color:#264a9c;
	color:white;
	cursor:pointer;
	transition:.25s ease-in-out;
	text-align:center;}
.white-to-pink-div:hover p{
	color:white !important;}
.mobile-logo {
    height: 30px;
    float: left;
}

.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.dl-menuwrapper{
	display:none;
	float: right;
    width: auto;
}
.dl-menuwrapper .dl-trigger {
    margin-top: 8px;
}
.dl-menu {
    margin-top: 5px !important;
}

.input50-div {
    width: 48%;
    float: left;
}
.second-input50 {
    margin-left: 4%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #ff7d7d5c inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size:15px;
}
.margin-top30{
	margin-top:30px;}
.fix300-btn {
    width: 300px;
    margin-left: calc(50% - 150px);
}
.shipping-table {
    width: 100%;
	border-collapse:collapse;
    font-size: 14px;
	word-break: keep-all;
}
.shipping-table th{
	text-align:left;
	padding: 12px 2px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	vertical-align: top;
}
.shipping-table td{
	border-bottom: 1px solid gainsboro;
    padding: 12px 2px;
	vertical-align: top;
}
.action-p {
    margin: 0;
    font-weight: 800;
}
.overflow-scroll-div {
    width: 100%;
    overflow: auto;
	height: 85vh;
}
.red-link{
	color:#69cbf3;
}
.red-link:hover{
	color:#4cb7d8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.img-btn{
	background:none;
	border:0;
	width: 30px;}
.margin-left0{
	margin-left:0 !important;}
.black-white-link2:hover{
	color:#264a9c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.back-btn2 {
    width: 25px;
}
.clean-bg{
	background-color:transparent;}
.logo-img {
    width: 120px;
    margin-left: 0;
}
.sidebar-ul {
    margin-top: 10px;}
.side-bar {
    padding-top: 10px;}
.add-status-btn {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
.select-style{
	border: 0;
    background-color: transparent;
    font-weight: 800;	
}	
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;
	vertical-align: middle;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0;
  width: 50%;
  border-radius: 10px;
  margin-top: calc(50vh - 220px);
  margin-bottom: 30px;
}

/* The Close Button */
.close-css {
  color: #BC1010;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #900a0a;
  text-decoration: none;
  cursor: pointer;
}
.input-p {
    margin-bottom: 5px;
}
.input-style {
    font-size: 18px;
    width: 100%;
    padding: 5px;
	margin-bottom: 10px;
}
.modal-submit {
    width: 300px;
	margin-top: 30px;
}
.search-input{
	width:47.5%;
	float:left;
	font-size:16px;
	margin-bottom:20px;}
.second-search-input{
	margin-left:5%;}
.four-input-div {
    width: 22%;
    float: left;
}
.left-four-input {
    margin-left: 4%;
    margin-right: 4%;
}
.right-four-input{
	margin-right: 4%;
}
.big-four-input-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.input-top-p {
    font-size: 12px;
    margin-bottom: 2px;
}
.ui-widget-header{
	color:white !important;}
.submit-btn {
    width: 48%;
    border: 0;
    float: left;
	padding:6px;
	background-color:#264a9c;
	color:white;
	border-radius:8px;
	font-size:18px;
	margin-top:28px;
}
.submit-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#163375;}
.right-submit-btn{
	margin-left:4%;}
.ui-widget-header {
    border: 1px solid #264a9c!important;
    background: #264a9c!important;}	
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #f5a1b0 !important;
    background: #f5a1b0 !important;}	
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	    background: #264a9c !important;
		color:white !important;
	
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	    background: #264a9c !important;
		color:white !important;
	
}	
.customer-h1{
	float:left;}
.right-data-div {
    float: right;
    font-size: 14px;
    text-align: right;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 10px;
}
.green-text{
	color:#00b178;}
.pink-text {
    color: #264a9c;
}
.no-input-style {
    background-color: transparent;
    padding-left: 0;
    font-weight: 600;
}
.eye-icon {
    width: 25px;
    float: left;
	margin-top: 9px;
}

.eye-icon:hover{
	opacity:.85;
	cursor:pointer;
	transition:.15s ease-in-out;
	}
.password-input {
    width: calc(100% - 30px);
    float: left;
	background-color: transparent;
	margin-bottom:0;
}
.password-input-div {
    background-color: #d0e2ef;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}
.white-bg-input-ow{
	background-color:white;
	border:1px solid grey;}
.pagination-pop {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination-pop-a {
    color: #264a9c;
    font-size: 14px;
    margin: 0 5px;
}
.pagination-pop-a:hover{
	cursor:pointer;
	color:#ff758c;
	transition:.15s ease-in-out;}
.three-input-div {
    width: 31%;
    float: left;
}
.left-three-input {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.total-call-b {
    color: #264a9c;
    font-weight: 700;
    font-size: 20px;
}
.call {
    height: 16px;
    margin-left: 10px;
}
.tele-btn {
    float: left;
    margin-right: 10px;
    background-color: #264a9c;
    color: white;
    border: 0;
    padding: 3px 10px;
    border-radius: 5px;
	margin-top: 10px;
}
.tele-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#163375;}
.small-image {
    width: 25px;
}
.align-left{
	margin-left:0;}
.margin-top20{
	margin-top:20px;}
.invoice-logo {
    text-align: center;
    height: 1.5cm;
    margin: 0 auto;
}
.invoice-company-name {
    text-align: center;
}
.invoice-logo-p {
    margin: 0;
}
.invoice-company-name {
    text-align: center;
    margin-top: 10px;
	margin-bottom: 5px;
}
.invoice-company-number {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
}
.ms-p {
    margin-bottom: 0;
    margin-top: 10px;
}
.invoice-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}
.left-header {
    display: inline-block;
    vertical-align: top;
}
.right-header {
    display: inline-block;
    vertical-align: top;
}
.header-logo {
    width: 170px;
	margin-right:15px;
}
.header-div {
    width: 100%;
    border-bottom:1.5px solid black;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.add-p {
    margin-top: 2px;
}
.right-date-p{
	float:right;}
.margin-top5{
	margin-top:5px;}
.sign-line {
    border-bottom: 1px solid black;
    width: 150px;
    margin-top: 80px;
}
.sign-line2 {
    margin-top: 95px;
}
.left-signature, .right-line {
	display:inline-block;
}
.left-invoice-div {
    float: left;
    width: 49%;
}
.right-invoice-div {
    float: right;
    max-width: 49%;
}
.small-note {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 5px;
}
.sign-line-width{
	margin-top:5px;
	font-size:11px;
	width: 150px;
    text-align: center;}
.term-ol {
    padding-left: 15px;
}
.term-ol li {
    margin-bottom: 20px;
}
.left-sign-div {
    float: left;
    width: 50%;
}
.right-sign-div{
	float:left;
	max-width:49%;}
.next-to-sidebar3a{
	padding-bottom:0;}
.next-to-sidebar3b{
	padding-top:0;}
.date-input {
    width: 125px;
}
.blue-btn{
	background-color:#69cbf3;
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;
	border:0;
	padding:5px 10px;
	border-radius:5px;
}
.blue-btn:hover{
	background-color:#4cb7d8;	
}
.dl-menuwrapper .dl-menu.dl-menuopen{
	background-color:white;
	box-shadow: -19px 13px 18px -10px rgba(188,16,16,0.22);
	-webkit-box-shadow: -19px 13px 18px -10px rgba(188,16,16,0.22);
	-moz-box-shadow: -19px 13px 18px -10px rgba(188,16,16,0.22);
	height: 100vh;
    overflow: auto;
	padding-bottom: 100px;
}
.print-table1 td, .print-table1 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.text-right{
	text-align:right;}
.border-right {
    border-right: 1px solid black;
}
.top-border{
	border-top:1px solid black;}
.print-table2{
	border-collapse:collapse;
	border: 1px solid black;}
.print-table2 th {
    text-align: left;
	padding:10px 5px;
	border:1px solid black;
}
.print-table2 td{
	padding:5px;
}
.black-text{
	color:black;}
.center-div2 {
    width: 75%;
    margin: 0 auto;
}
.print-table3{
	border-collapse:collapse;}
.print-table3 td{
	padding:5px;
	border:1px solid black;}
.print-table3 th {
    text-align: left;
	padding:5px;
	border:1px solid black;}
.oz-p, .oz-form {
    display: inline-block;
}
.oz-p {
    margin: 0;
    padding: 0 5px;
}
.oz-btn {
    border: 0;
    background-color: #BC1010;
    color: white;
	cursor:pointer;
	transition:.15s ease-in-out;
	font-size: 21px;
    border-radius: 50%;
	height: 24px;
    width: 24px;
    line-height: 1px;
}
.oz-btn:hover {
    background-color: #900a0a;
}
.min-height-p {
    min-height: 40px;
}
.textarea-min-height{
	min-height: 80px;
}
.print-table2 .padding10{
	padding-top:10px;
	padding-bottom:10px;}
.back-icon {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.opacity-hover{
	transition:.15s ease-in-out;
	opacity:0.85;}
.opacity-hover:hover{
	opacity:1;}
.gp-h1 {
    font-weight: 900;
    font-size: 14px;
}
.small-padding{
	padding-left:10px;
	padding-right:10px;}
.overflow-auto{
	overflow-x:auto;}	
.width175{
	width:175px;}
.width195{
	width:195px;}
.notice-modal-content{
    width: 50%;
	text-align:center;
}
.desc-css {
    padding-top: 0 !important;
    padding-bottom: 40px !important;
    white-space: pre-wrap !important;
}

.no-border-bottom td {
    border-bottom: 0 !important;}
.with-border, .no-border-bottom .with-border{
	    border-bottom: 1px solid grey !important;
    border-top: 1px solid grey !important;}
.right-text {
    text-align: right;
}
.close-notice{
	font-weight:400;}
.ow-small-table{
	font-size:10.5px !important;
	border:1px solid black;}
.ow-small-table th, .ow-small-table td{
	padding:12px 5px;
	border: 1px solid black;}
.margin-bottom0{
	margin-bottom:0 !important;}
.margin-bottom5{
	margin-bottom:5px !important;}
.margin-bottom2{
	margin-bottom:2px !important;}
.margin-bottom30{
	margin-bottom:30px;}
.margin-top10{
	margin-top:10px;}
.margin-top20{
	margin-top:20px;}
.margin-top40{
	margin-top:40px;}
.padding-bottom50{
	padding-bottom:50px;}
.print-table{
	margin-top:25px;}
.web-view-no{
	display:none;}
::-moz-selection { background:#BC1010 !important;
color:white!important; }
::selection { background:#BC1010 !important; color:white!important; }
/*Start */
.red-bg{
	background-color:#BC1010;}
.left-top-p{
	float:left;
	margin: 0;
	font-size: 12px;}
.right-top-p{
	float:right;
	margin: 0;
	font-size: 12px;}
.phone-img, .email-img{
	width:12px;}
.top-fix-row{
	padding-top: 3px;
    padding-bottom: 1px;
}
.email-span2 {
    display: none;
	color: white;
}
.logo-img {
    width: 200px;
}
.opacity-white-bg {
    padding-top: 5px;
}
.call-a{
	color: white;}
.menu-item {
    color: black;
	font-size: 14px;
	vertical-align: baseline !important;
}
.menu-margin-right {
    margin-right: 12px;
	padding-top: 10px;
    display: inline-block;
}
.app-p {
    margin: 0;
    text-align: center;
}
.app-menu{
    width: 80px;
    float: right;
}
.app-png {
    width: 10px;
}
.banner-bg{
	background-image:  url(../img/banner1.jpg);
	background-size: cover;
	min-height: 450px;
}
.red-opacity-bg {
    float: right;
    width: 400px;
    background-color: #86070769;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
	margin-top: 50px;
}
.justify-p{
	text-align: justify;
    text-align-last: center;
}
.banner-p {
    font-size: 20px;
}
.white-button {
    background-color: white;
    color: #bc1010;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: 800;
    font-size: 20px;
	transition: .15s ease-in-out;
}
.white-button:hover{
	cursor: pointer;
	background-color:#bc1010;
	color: white;
	transition: .15s ease-in-out;
}
.footer-div {
    background-color: #bc1010;
    text-align: center;
	margin-top: -3px;
}
.footer-p {
    color: white;
    margin: 0;
    font-size: 12px;
}
.pink-bg{
	background-color: #FFE9E9;
	padding-top: 30px;
    padding-bottom: 30px;
}
.red-text{
	color: #BC1010;
}
.four-div{
	width: 22%;
	float: left;
	text-align: center;
}
.second-four-div{
	margin-left: 4%;
	margin-right: 4%;
}
.third-four-div{
	margin-right: 4%;
}
.title-h1{
	text-align: center;
    margin-bottom: 40px;}

.four-min-height {
    min-height: 44px;
}
.why-png {
    width: 30%;
}
.sakura-bg{
	background-image:  url(../img/sakura-bg.jpg);
	padding-top: 30px;
	padding-bottom: 30px;
	background-position: center;
	background-size: cover;}
.sakura-bg2{
		background-image:  url(../img/sakura-bg2.jpg);
	padding-top: 30px;
	padding-bottom: 30px;
	background-position: center;
	background-size: cover;}
.partner-png{
	float: left;
	width: 10%;
}
.sea-background{
	background-image:  url(../img/sea-bg.jpg);
	padding-top: 30px;
	background-position: bottom;
	padding-bottom: 450px;
	background-size: cover;
	background-repeat: no-repeat;
}
.partner-margin-right{
	margin-right: 5%;}
.padding-top-bottom{
	padding-top: 30px;
	padding-bottom: 30px;
}
.mid-content-p{
	margin-bottom: 40px;
}
.insta-css{
	width: 16%;
}
.insta-margin-right{
	margin-right: 0.4%;
}
.underline-link{
	text-decoration: underline;}
.red-link{
	color: #bc1010;
    font-weight: 800;
	transition: .15s ease-in-out;
}
.red-link:hover{
	color: #880808;
	transition: .15s ease-in-out;
}
.four-img1 {
    width: 20%;
}
.second-four-img1{
	margin-left: 6%;
	margin-right: 6%;
}
.third-four-img1{
	margin-right: 6%;
}
.app-container {
    padding-left: 12%;
	padding-right: 12%;
}
.left50 {
    width: 50%;
    float: left;
}
.download-css {
    height: 60px;
}
.mob-tempo-three-clear2{
display: none;}
.ow-no-margin{
	margin: 0 !important;
}
.hover-effect{
	cursor:pointer;
	transition:0.15s ease-in-out;}
.ta-three-div p{
	margin:0;}
.country-button {
    width: 30%;
    display: inline-block;
    margin: 10px calc(1.5% - 1px);
    padding: 10px 5px;
    background-color: white;
    border: 0;
    border-radius: 10px;
	box-shadow: 10px 10px 5px -8px rgba(188,16,16,0.11);
	-webkit-box-shadow: 10px 10px 5px -8px rgba(188,16,16,0.11);
	-moz-box-shadow: 10px 10px 5px -8px rgba(188,16,16,0.11);
}
.country-button:hover{
	background-color: #ffdada;}
.ow-sakura-height{
	min-height: calc(100vh - 16px);}
.login-h1{
	margin-top:0;}
.font-400{
	font-weight:400 !important;}
.forgot-size{
	font-size: 14px;
}
.menu-distance {
    padding-top: 100px;
}
.gps-size, .gift-size {
    width: 20px;

}
.gift-size{
	vertical-align: middle;
}
.first-line-gps {
    margin-top: 30px;
    font-size: 27px;
    font-weight: 900;
}
.second-line {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.second-line a {
    font-weight: 700;
}
.underline {
    text-decoration: underline;
}
.pink-link {
    color: #ff4f4f;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.pink-link:hover{
	color:#ff0c0c;
}
.glider-slide {
    width: 250px !important;
    margin-right: 20px !important;
}
.product-box{
	 width: 250px !important;
box-shadow: 0px 0px 8px 4px rgba(255,136,136,0.72);
-webkit-box-shadow: 0px 0px 8px 4px rgba(255,136,136,0.72);
-moz-box-shadow: 0px 0px 8px 4px rgba(255,136,136,0.72);
	}
.product-details-div {
    padding: 5px 7px;
}
.glider-track{
	padding: 12px;
}

.square {
    position: relative !important;
}
.content2 {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
}
.content2 a, .content2 img {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
	display:block !important;
}

.square:after {
  content: "" !important;
  display: block !important;
 padding-bottom: 67.5% !important;
}
.slider-product-name {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-weight: 700;
    font-size: 14.5px;
}
.slider-product-price {
    margin: 0;
    margin-top: 3px;
    color: black;
    font-weight: 400;
    font-size: 11px;
}
.article-info-table {
    width: 100%;
}
.article-info-table td {
    padding-bottom: 10px;
}
.info-img {
    width: 20px;
}
.info-td1 {
    width: 25px;
}
.red-h1 {
    margin-top: 0;
    padding-top: 10px;
}

.blog-content-div1 {
    width: 80% !important;
    margin: 0 auto;
    background-color: white;
    padding: 5px 20px;
}
.a2a_kit a {
    margin-bottom: 5px;
}
.share-h3 {
    font-size: 16px;
}
.price-desc {
    font-size: 14px;
    margin-bottom: 5px;
}
.price-pp {
    font-weight: 700;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0;
}
.price-div{
	text-align:center;
	overflow:hidden;
	box-shadow: 0 -7px 18px -12px rgba(255,190,190,0.75);
-webkit-box-shadow: 0 -7px 18px -12px rgba(255,190,190,0.75);
-moz-box-shadow: 0 -7px 18px -12px rgba(255,190,190,0.75);}
.purchase-div {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #bc1010;
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 0;
    border-radius: 20px;
	
}
.purchase-div:hover{
	background-color: #e02323;}
.price-div {
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: white;
}
.with-price-height{
	padding-bottom:150px;}
.success-img {
    width: 150px;
}
.price-pp2{
	margin-bottom:20px;
	}
.white-table {
    width: 100%;
	font-size: 14px;
	margin-top: 30px;
    background-color: #ffffff2e;
}
.white-table th{
	text-align:left;
	font-weight: 900;
}
.white-table th, .white-table td{
	vertical-align:top;
    padding: 2px 5px;}
.white-table-font-size{
	font-size:14px;}
.ow-font400{
	font-weight:400 !important;}
.overflow-div {
    overflow: auto;
}
.no-background-color{
	background-color:transparent !important;}
.four-div{
	display:inline-block;
	float:none;
	vertical-align: top;
	width: calc(22% - 5px);}
.transparent-button {
    font-weight: 400;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.transparent{
	background:none;
	background-color:transparent;}
.orange-link {
    color: #ff5500;
}
.orange-link:hover {
    color: #d64700;
}
.middle-button-size {
    margin-top: 20px;
    width: 500px;}
.dual-input {
    display: inline-block;
    width: 48%;
}
.second-dual-input {
    margin-left: calc(3% - 2px);
}
.tutorial-img {
    height: 20px;
}
.refer-modal-content {
    width: 80%;
}
.step-h3 {
    text-align: center;
}

.refer-png {
    height: 20px;
}
.border0{
	border:0px;}
.ow-green-btn {
    background-color: #00b9b1;
}
.ow-green-btn:hover {
    background-color: #009e97;
}
.second-decs-btn {
    margin-left: 20px;
}
.fake-input-size {
    font-size: 16px;
    font-weight: 700;
}
.header {
    background-color: white;
}
.min-height{
    min-height: calc(100vh - 16px);
}
.category-png {
    width: 25px;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.category-container {
    width: 103%;
}
.four-div1 {
    display: inline-block;
    width: 18%;
    margin-right: calc(2% - 5px);
}
.glider2s .glider-slide {
    width: 200px !important;
    margin-right: 20px !important;
}
.follow-size{
    width: 200px !important;}
.whitebox-redshadow{
	background-color:white;
	    box-shadow:0px 0px 4px 2px rgb(255 136 136 / 50%);
    -webkit-box-shadow: 0px 0px 4px 2px rgb(255 136 136 / 50%);
    -moz-box-shadow: 0px 0px 4px 2px rgb(255 136 136 / 50%);
}
.category-div {
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
	color: black;
}
.category-div:hover {
    box-shadow: 0px 0px 4px 2px rgb(255 136 136 / 80%);
    -webkit-box-shadow: 0px 0px 4px 2px rgb(255 136 136 / 80%);
    -moz-box-shadow: 0px 0px 4px 2px rgb(255 136 136 / 80%);
}
.ow-margin-top0{
	margin-top:0 !important;}
.title-css {
    float: left;
}
.filter-form{
	float: right;}
.filter-select {
    
    border: 0;
}
.price-filter {
    margin-right: 10px;
}
.showall-box {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-right: calc(2% - 5px);
    margin-bottom: 30px;
}
.width103{
	width:103%;}
.ow-menu-distance {
    padding-top: 100px;
}
.input-top-text {
    margin-bottom: 2px;
    margin-top: 0;
}
.edit-icon1 {
    height: 25px;
}
.login-page-width {
    width: 60%;
    margin: 0 auto;
}
.center-button{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	font-size: 16px;
}
.total-amount {
    text-align: center;
    font-weight: 900;
}
.below-top-p {
    margin-top: 0;
    font-weight: 900;
    font-size: 18px;
}
.article-info-table td, .article-info-table th {
    vertical-align: top;
}
.filter-button {
    font-size: 14px;
    padding: 0 5px;
    width: auto;
}
.tempo-clear1{
	display:none;}
.green-link {
    color: #00ad7a;
}
.green-link:hover {
    color: #00996c;
}
.decision {
    float: left;
}
.cancel-css{
	margin-left:10px;}
.miss3 {
    width: 100%;
    height: 175px;
    background-position: center;
    background-size: cover;
	display:none;
}
.miss4{
	height:50px;}
.category-font-size{
	font-size: 16px;
}
.user-details1 {
    margin-top: 0;
    font-weight: 900;
	margin-bottom: 10px;
}
.green-button {
	background-color: #00ad7a;
}
.green-button:hover {
    background-color: #00996c;
}
.left-form {
    display: inline-block;
}
.right-form {
    display: inline-block;
    margin-left: 20px;
}
.follow-dual-align{
	text-align:left;}
.padding-bottom10{
	padding-bottom:10px;}
.top-4 {
    display: inline-block;
    width: 23%;
    margin-right: calc(2% - 5px);
	text-align: center;
    font-size: 18px;
	color:black;
	vertical-align: top;

}

.top4-png {
    width: 35px;
    vertical-align: middle;
    margin-right: 5px;
    float: left;
	
}
.top4-font-size{
	font-size: 18px;
	    padding: 0;
}
.p11 {
    float: left;
    width: calc(100% - 40px);
    margin: 0;
    text-align: left;
}
.dl-menuwrapper li form {
    display: block;
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    outline: none;
}
.margin0 {
    margin: 0;
}
.text-left{
	text-align:left;}
.padding0{
	padding:0;}
.follow-a-font-size{
	font-size: 16px;
	font-weight:200;
	}
.no-touch .dl-menuwrapper li form:hover {
    background: rgb(255 213 213 / 10%);
}
.new-css-png {
    float: left;
}
.ads-margin {
    margin-top: 30px;
}
.little-margin-top{
	margin-top:20px;}
.button-css1{
    color: white;
    padding: 10px;
    border-radius: 10px;	
}
.tour-color {
    background-color: #bc1010;
}
.trans-color{
    background-color: #009eff;	
	}
.flight-color{
    background-color: #ff3162;	
	}
.place-color{
    background-color: #35b729;	
	}
.tour-color:hover {
    background-color: #a50000;
}
.trans-color:hover{
    background-color: #0097f3;	
	}
.flight-color:hover{
    background-color: #ff0d47;	
	}
.place-color:hover{
    background-color: #0faf00;	
	}
.country-button2 {
    border: 0;
    background: transparent;
    display: inline-block;
    width: 31%;
    margin-right: calc(2% - 2px);
	background-position:center top;
	background-size:cover;
	margin-bottom: 20px;
	min-height: 120px;
	border-radius: 10px;
}
.country-button2:hover{
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
.big-country-container{
	width:103%;
}
.country2-div p {
    color: white;
	font-weight: bolder;
    font-size: 18px;
	margin: 0;
}
#country1{
	    background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/malaysia.jpg);
}
#country2{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/brunei.jpg);
}
#country3{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/cambodia.jpg);
}
#country4{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/indonesia.jpg);
}
#country5{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/japan.jpg);
}
#country6{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/myanmar.jpg);
}
#country7{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/singapore.jpg);
}
#country8{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/thailand.jpg);
}
#country9{
	background-image: linear-gradient( rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) ), url(../img/vietnam.jpg);
}
            @-webkit-keyframes fall {
                0% {
                    opacity: 0.9;
                    top: 0
                }
                100% {
                    opacity: 0.2;
                    top: 100%
                }
            }

            @keyframes fall {
                0% {
                    opacity: 0.9;
                    top: 0
                }
                100% {
                    opacity: 0.2;
                    top: 100%
                }
            }

            @-webkit-keyframes blow-soft-left {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: -50%
                }
            }

            @keyframes blow-soft-left {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: -50%
                }
            }

            @-webkit-keyframes blow-medium-left {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: -100%
                }
            }

            @keyframes blow-medium-left {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: -100%
                }
            }

            @-webkit-keyframes blow-soft-right {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: 50%
                }
            }

            @keyframes blow-soft-right {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: 50%
                }
            }

            @-webkit-keyframes blow-medium-right {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: 100%
                }
            }

            @keyframes blow-medium-right {
                0% {
                    margin-left: 0
                }
                100% {
                    margin-left: 100%
                }
            }

            @-webkit-keyframes sway-0 {
                0% {
                    -webkit-transform: rotate(-5deg)
                }
                40% {
                    -webkit-transform: rotate(28deg)
                }
                100% {
                    -webkit-transform: rotate(3deg)
                }
            }

            @keyframes sway-0 {
                0% {
                    -ms-transform: rotate(-5deg);
                    transform: rotate(-5deg)
                }
                40% {
                    -ms-transform: rotate(28deg);
                    transform: rotate(28deg)
                }
                100% {
                    -ms-transform: rotate(3deg);
                    transform: rotate(3deg)
                }
            }

            @-webkit-keyframes sway-1 {
                0% {
                    -webkit-transform: rotate(10deg)
                }
                40% {
                    -webkit-transform: rotate(43deg)
                }
                100% {
                    -webkit-transform: rotate(15deg)
                }
            }

            @keyframes sway-1 {
                0% {
                    -ms-transform: rotate(10deg);
                    transform: rotate(10deg)
                }
                40% {
                    -ms-transform: rotate(43deg);
                    transform: rotate(43deg)
                }
                100% {
                    -ms-transform: rotate(15deg);
                    transform: rotate(15deg)
                }
            }

            @-webkit-keyframes sway-2 {
                0% {
                    -webkit-transform: rotate(15deg)
                }
                40% {
                    -webkit-transform: rotate(56deg)
                }
                100% {
                    -webkit-transform: rotate(22deg)
                }
            }

            @keyframes sway-2 {
                0% {
                    -ms-transform: rotate(15deg);
                    transform: rotate(15deg)
                }
                40% {
                    -ms-transform: rotate(56deg);
                    transform: rotate(56deg)
                }
                100% {
                    -ms-transform: rotate(22deg);
                    transform: rotate(22deg)
                }
            }

            @-webkit-keyframes sway-3 {
                0% {
                    -webkit-transform: rotate(25deg)
                }
                40% {
                    -webkit-transform: rotate(74deg)
                }
                100% {
                    -webkit-transform: rotate(37deg)
                }
            }

            @keyframes sway-3 {
                0% {
                    -ms-transform: rotate(25deg);
                    transform: rotate(25deg)
                }
                40% {
                    -ms-transform: rotate(74deg);
                    transform: rotate(74deg)
                }
                100% {
                    -ms-transform: rotate(37deg);
                    transform: rotate(37deg)
                }
            }

            @-webkit-keyframes sway-4 {
                0% {
                    -webkit-transform: rotate(40deg)
                }
                40% {
                    -webkit-transform: rotate(68deg)
                }
                100% {
                    -webkit-transform: rotate(25deg)
                }
            }

            @keyframes sway-4 {
                0% {
                    -ms-transform: rotate(40deg);
                    transform: rotate(40deg)
                }
                40% {
                    -ms-transform: rotate(68deg);
                    transform: rotate(68deg)
                }
                100% {
                    -ms-transform: rotate(25deg);
                    transform: rotate(25deg)
                }
            }

            @-webkit-keyframes sway-5 {
                0% {
                    -webkit-transform: rotate(50deg)
                }
                40% {
                    -webkit-transform: rotate(78deg)
                }
                100% {
                    -webkit-transform: rotate(40deg)
                }
            }

            @keyframes sway-5 {
                0% {
                    -ms-transform: rotate(50deg);
                    transform: rotate(50deg)
                }
                40% {
                    -ms-transform: rotate(78deg);
                    transform: rotate(78deg)
                }
                100% {
                    -ms-transform: rotate(40deg);
                    transform: rotate(40deg)
                }
            }

            @-webkit-keyframes sway-6 {
                0% {
                    -webkit-transform: rotate(65deg)
                }
                40% {
                    -webkit-transform: rotate(92deg)
                }
                100% {
                    -webkit-transform: rotate(58deg)
                }
            }

            @keyframes sway-6 {
                0% {
                    -ms-transform: rotate(65deg);
                    transform: rotate(65deg)
                }
                40% {
                    -ms-transform: rotate(92deg);
                    transform: rotate(92deg)
                }
                100% {
                    -ms-transform: rotate(58deg);
                    transform: rotate(58deg)
                }
            }

            @-webkit-keyframes sway-7 {
                0% {
                    -webkit-transform: rotate(72deg)
                }
                40% {
                    -webkit-transform: rotate(118deg)
                }
                100% {
                    -webkit-transform: rotate(68deg)
                }
            }

            @keyframes sway-7 {
                0% {
                    -ms-transform: rotate(72deg);
                    transform: rotate(72deg)
                }
                40% {
                    -ms-transform: rotate(118deg);
                    transform: rotate(118deg)
                }
                100% {
                    -ms-transform: rotate(68deg);
                    transform: rotate(68deg)
                }
            }

            @-webkit-keyframes sway-8 {
                0% {
                    -webkit-transform: rotate(94deg)
                }
                40% {
                    -webkit-transform: rotate(136deg)
                }
                100% {
                    -webkit-transform: rotate(82deg)
                }
            }

            @keyframes sway-8 {
                0% {
                    -ms-transform: rotate(94deg);
                    transform: rotate(94deg)
                }
                40% {
                    -ms-transform: rotate(136deg);
                    transform: rotate(136deg)
                }
                100% {
                    -ms-transform: rotate(82deg);
                    transform: rotate(82deg)
                }
            }

.sakura {
                background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
                background: linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
                pointer-events: none;
                position: absolute
            }
.image-button-css2 {
    display: inline-block;
    width: calc(19.7% - 30px);
    margin-right: 26px;
}
.category-png3 {
    width: 100%;
}
.image-button-css1 {
    width: 103%;
}
.button2, .button3, .button4{
	display:none;}
@media all and (max-width: 1500px){
.banner-bg {
    min-height: 350px;
}

}

@media all and (max-width: 1300px){
.black-white-link2 {
    font-size: 21px;
}
.back-btn2 {
    width: 15px;
}
.insta-margin-right {
    margin-right: 0.3%;
}	
.category-div, .category-font-size {
    font-size: 12px;}
.category-png {
    width: 18px;
    vertical-align: text-bottom;
    margin-right: 2px;
}
.glider2s .glider-slide {
    width: 150px !important;
}
.follow-size{
    width: 150px !important;}
}
@media all and (max-width: 1250px){
.four-div p {
    min-height: 38px;
}
.invoice-company-name {
    font-size: 15px;
}
.invoice-company-number {
    font-size: 12px;}
.invoice-company-number2 {
    font-size: 10px;
}
.header-logo {
    width: 150px;
}
}
@media all and (max-width: 1200px){
.submit-btn{
	font-size:14px;
	border-radius:5px;
	padding-top:8px;}
.four-input-div .tele-input{
	font-size:14px;}
.shipping-table{
	font-size:11px;}
.three-input-div .submit-btn {
    padding-top: 10px;
    padding-bottom: 8px;
}
.image-button-css2 {
    display: inline-block;
    width: calc(19.7% - 10px);
    margin-right: 6px;
}
}
@media all and (max-width: 1150px){
.four-min-height {
    min-height: 66px;
}
.sea-background {
	padding-bottom: 350px;}
}
@media all and (max-width: 1100px){
.four-div {
    width: calc(47% - 12px);
    margin-bottom: 30px;
}
.left-mid-four {
    margin-left: 4%;
    margin-right: 0;
}
.right-mid-four {
    margin-left: 0;
    margin-right: 4%;
}
.tempo-2-clear {
    clear: both;
}
}
@media all and (max-width: 1000px){
.first-four-div {
    width: 100% !important;
}
.four-input-div {
    width: 48%;
}
.right-four-input {
    margin-right: 0;
}
.left-four-input {
    margin-left: 0;
    margin-right: 4%;
}
.submit-btn{
	margin-top: 0;	
}
.last-four-div{
	width:100% !important;}
.first-four-div .first-four-div{
	margin-bottom:0;}
.three-input-div .submit-btn {
    margin-top: 28px;
}
.mob-four-input1 {
    margin-right: 4%;
}
.mob-four-input2 {
    margin-right: 0;
}
.notice-modal-content{
    width: 80%;}
.insta-css {
    width: 15.5%;
}	
.second-four-img1 {
    margin-left: 5%;
    margin-right: 5%;
}
.third-four-img1 {
    margin-right: 5%;
}
.mid-content-p {
    font-size: 14px;
}	
.download-css {
    height: 45px;
}
.product-box {
    width: 180px !important;}
.blog-content-div1 {
    width: 100% !important;
	padding-left:0;
	padding-right:0;}
.background-div{
	background-color:white;}
.red-h1 {
    font-size: 21px;}
.four-div1 {
    display: inline-block;
    width: 31%;
    margin-right: calc(2% - 5px);
}
.country-button2{
	min-height: 80px;
}
}
@media all and (max-width: 900px){
.black-white-link2 {
    font-size: 17px;
}
.back-btn2 {
    width: 12px;
}
.status-content {
    width: 75%;
}
.red-opacity-bg {
    width: 300px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 30px;
}
.banner-p {
    font-size: 18px;
    margin-top: 0;
}
.white-button {
    padding: 7px 0;
	font-size: 17px;}
.banner-bg{
	background-image:  url(../img/banner2.jpg);}
.modal-content-css {
    width: 80%;}
.success-img {
    width: 110px;
}
.refer-modal-content {
    width: 95%;
}
.tutorial-div img {
    width: 100%;
    margin-left: 0;
}
.top-4, .top-4-font-size, .p11{
	font-size:12px;
	word-break: break-all;}
.small2-padding{
	padding-left:20px;
	padding-right:20px;}
.button1 {
    display: none;
}
.button2{
	display:block;}
}
@media all and (max-width: 850px){
.user-header {
    display: none;
}
.dl-menuwrapper {
    display: block;
}
}
@media all and (max-width: 800px){
.side-bar{
	display:none;}
.next-to-sidebar{
	width:100%;
	margin:0;
	padding-left:7.5%;
	padding-right:7.5%;}
.dl-menuwrapper{
	display:block;}
.sidebar-li p {
    margin-top: 5px;
    font-size: 14px;
}
.header1{
	display:block;}
.h1-title {
    font-size: 24px;
}
.tab-h2 {
    font-size: 16px;
}
.menu-h1{
	font-size:21px;}
.four-div-title {
    font-size: 14px;
}
.four-min-height {
    min-height: 57px;
}
.four-div-content {
    font-size: 12px;
}
.title-h1 {
    font-size: 24px;
}
.partner-png {
    width: 12%;
}
.partner-margin-right {
    margin-right: 2%;
}
.app-container {
    padding-left: 0;
    padding-right: 0;
}
.bottom-title {
    margin-bottom: 20px;
    margin-top: 40px;
}	
.gift-size {
    width: 15px;
}
.second-line {
    font-size: 14px;}
.slider-product-name {
    font-size: 12px;
}
.second-line {
    margin-top: 30px;}
.first-line-gps {
    font-size: 21px;}
.gps-size {
    width: 15px;
}
.red-h1 {
    font-size: 18px;
}
.info-img {
    width: 15px;
}
.article-info-table {
    font-size: 14px;
}
p.article-p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
}
.article-css-control table {
    font-size: 12px;}
.price-desc {
    font-size: 11px;}
.price-pp {
    font-size: 18px;}
.purchase-div {
	font-size: 14px;}
.white-table, .white-table-font-size {
	font-size:12px;}
.middle-button-size{
	width:100%;}
.showall-box {
    width: 31%;
	margin-bottom: 15px;}
.login-page-width {
    width: 100%;}
.filter-form {
    float: none;
    margin-bottom: 10px;}
.title-css {
    float: none;
    margin-bottom: 0;
}
.menu-distance, .ow-menu-distance {
    padding-top: 85px;
}
.input-top-p {
    font-size: 10px;
	margin-bottom: 0;}
.user-details1 {
    font-weight: 700;
    font-size: 14px;}
.before-login1{
	display:none;}
.add-link {
    width: 100%;
    float: none;
    display: block;
    font-size: 16px;
    margin-top: 10px;
}
}

@media all and (max-width: 750px){
.button-css1 {
    min-height: 50px;
}
.image-button-css2 {
    width: calc(19.7% - 6px);
    margin-right: 2px;
}
}
@media all and (max-width: 700px){
.left-red-div{
    width: 100%;
    float: none;
	height:auto;	
}
.login-img {
	margin-top:0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.right-grey-div{
	float:none;
	width:100%;
	min-height:auto;
	padding-bottom: 50px;
	padding-top:50px;}
.download-css {
    height: 35px;
}
.sea-background {
    padding-bottom: 200px;
}
.product-box {
    width: 150px !important;
}
.slider-product-name {
	font-size:12px;}

.tutorial-img {
    height: 12px;
}
.four-div1 {
    display: block;
    width: 100%;
    margin-right: 0;
}	
.category-container {
    width: 100%;
}
.category-div {
    margin-bottom: 7px;
    box-shadow: 0px 0px 2px 1px rgb(255 136 136 / 50%);
    -webkit-box-shadow: 0px 0px 2px 1px rgb(255 136 136 / 50%);
    -moz-box-shadow: 0px 0px 2px 1px rgb(255 136 136 / 50%);
}
.category-div:hover {
    box-shadow: 0px 0px 2px 1px rgb(255 136 136 / 80%);
    -webkit-box-shadow: 0px 0px 2px 1px rgb(255 136 136 / 80%);
    -moz-box-shadow: 0px 0px 2px 1px rgb(255 136 136 / 80%);
}
.left-form {
    display: block;
}
.right-form {
    display: block;
	margin-left:0;
}
.top-4, .top-4-font-size, .p11 {
    font-size: 10px;}
.country-button2{
	width:47.5%;
	margin-bottom: 5px;
	min-height:50px;
	background-position:center;	
}
.index-padding{
	padding-left:10px;
	padding-right:10px;}

}
@media all and (max-width: 650px){
.four-div {
    width: calc(48% - 5px);
	margin-left: 0;
	margin-right: 0;
    margin-bottom: 20px;}	
.mob-second{
	margin-left: 4%;}
.four-min-height{
	min-height: 38px;}
.tempo-mob-clear{
	clear: both;	
}
.mid-content-p {
    font-size: 12px;
	margin-bottom: 20px;
}
.country-button {
    margin-bottom: 2px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;}
.dual-input {
    display: block;
    width: 100%;
}
.second-dual-input {
    margin-left: 0;
}
.det-div{
	text-align:center;}
.showall-box {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
}
.width103{
	width:100%;
	}
.miss2{
	display:none;}
.miss3{
	display:block;}
.follow-dual-align{
	text-align:center;}
}

@media all and (max-width: 600px){
.modal-submit {
    width: 100%;}
.ms-p, .print-table1 th, .print-table1 td, .print-table2 th, .print-table2 td, .print-table3 th, .print-table3 th{
	font-size:13px;}
.textarea-min-height{
	min-height: 110px;
}
.email-span {
    display: none;
}	
.email-span2 {
    display: inline-block;
}
.left-top-p {
    float: none;
    clear: both;
}	
.right-top-p {
    float: none;
	margin-top: 3px;}
.logo-img {
    width: 120px;
}
.menu-item {
    color: black;
    font-size: 10px;
}
.app-png {
    width: 6px;
}
.app-menu {
	width: auto;}
.menu-margin-right {
    padding-top: 5px;
}
.banner-bg{
	background-image:  url(../img/banner3.jpg);
	min-height: 0;}
.red-opacity-bg{
	margin-bottom: 30px;
}
.bottom-title {
    font-size: 14px !important;
}
.download-css {
    height: 25px;
}
.input-top-text {
    font-size: 12px;
}
.success-img {
    width: 80px;
}
.decs-btn {
    width: 100%;
    margin-left: 0;
}
.center-button{
    width: 100%;
	font-size: 14px;
}
.country-button2{
	width:100%;
	margin-right:0;
	min-height:45px;
}
.big-country-container{
	width:100%;}
.index-padding .title-h1{
	font-size:15px;}
.index-padding .mid-content-p{
	margin-top:5px;
	font-size:12px;
	margin-bottom:10px;}
.button2 {
    display: none;
}
.button3{
	display:block;}
}
@media all and (max-width: 550px){
.status-content {
    width: 85%;
}
.input-p {
    font-size: 13px;
}
.input-style {
    font-size: 15px;}
.shipping-table {
    font-size: 9.5px;
}
.partner-margin-right {
    margin-right: 3%;
}
.partner-png {
    width: 22%;
}
.miss3{
	height:125px;}
.miss4{
	height:50px;}
.small2-padding {
    padding-left: 10px;
    padding-right: 10px;
}
}
@media all and (max-width: 500px){
.h1-title {
    font-size: 21px;
}	
.fix300-btn{
	width:100%;
	margin-left:0;}
.input50-div {
    width: 100%;
    float: none;
    margin-left: 0;
}
.right-data-div {
    font-size: 11px;}
.red-opacity-bg {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.insta-css {
    width: 32%;
	margin-left: 0;
	margin-right: 0;
}	
.title-h1 {
    font-size: 21px;
}
.four-img1 {
    width: 45%;
}	

.second-four-img1 {
    margin-left: calc(10% - 5px);
    margin-right: 0;
}
.third-four-img1 {
    margin-right: calc(10% - 5px);
}	
.sea-background {
    padding-bottom: 300px;
}
.white-table, .white-table-font-size {
    font-size: 10px;
}
.top4-png {
    width: 25px;
	margin-right: 2px;}
.p11 {
    width: calc(100% - 30px);}

}
@media all and (max-width: 470px){
.three-input-div {
    width: 47.5%;
    margin-left: 0;
    margin-right: 0;
}
.left-three-input{
	margin-left:5%;}
.sub-div{
	width:100%;
}
.three-input-div .submit-btn {
    margin-top: 10px;
}
}
@media all and (max-width: 450px){
.search-input{
	width:100%;
	float:none;
	margin-left:0;}
.country-button {
    font-size: 10px;
}
.user-details1 {
    font-size: 12px;
}
}
@media all and (max-width: 400px){
.four-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;}	
.four-div p {
    min-height: 0;
}	

.left50 {
    width: 100%;
    float: none;
}	
.left-top-p, .right-top-p {
    font-size: 10px;
}
.phone-img, .email-img {
    width: 7px;
}
.top-icon {
    width: 7px;
}
.tempo-clear1{
	display:block;
	clear:both;}
.filter-button {
    width: 100%;
}
.poi-filter{
	width:auto;}
.menu-distance, .ow-menu-distance {
    padding-top: 80px;
}
.miss3{
	height:100px;}
.miss4{
	height:50px;}
.top-4 {
 
    width: 48%;}
.first2{
	margin-bottom:10px;}
.category-png {
    width: 25px;
}
.top-4, .top-4-font-size, .p11 {
    font-size: 13px;
}
.category-png {
    width: 20px;
}
.country2-div p {
    font-size: 15px;

}
.button3 {
    display: none;
}
.button4{
	display:block;}
}
@media all and (max-width: 350px){
.red-opacity-bg {
    width: 250px;
}	
.banner-p {
	font-size: 14px;}	
.top-4, .top-4-font-size, .p11 {
    font-size: 12px;
}
}
@media print {
.web-view-no{
	display:block;}
.no-print{
	display:none !important;}
.next-to-sidebar{
	background-color:white !important;}	

.same-padding{
	padding-left:0.5cm;
	padding-right:0.5cm;}
.next-to-sidebar3{
	padding-top:0.25cm;
	padding-bottom:0.25cm;
	}
*{
	font-family:arial !important;}
.page1-div{
	height:26.3cm;
	background-color:white !important;}
.side-bar{
	display:none;}
.invoice-company-number{
	font-size:10px;}
.invoice-company-number2{
	font-size:9.5px;}
.header-logo{
	width:135px;}
.ms-p, .print-table, .time-table, .term-ol li{
	font-size:12.5px;}
.small-note{
	font-size:10px;}
.left-sign-div .sign-line, .right-sign-div .sign-line{
	margin-top:50px;}
.margin-top40 {
    margin-top: 20px;
}
.ow-small-table{
	font-size:9.5px !important;}
}

/* WJ CSS Start */
.repeat-four-width-div {
    width: 22%;
    background-color: white;
    float: left;
    margin-right: 3%;
	margin-bottom: 30px;
}

.repeat-four-width-div {
width: 30.2%;}

@media all and (max-width: 450px){
.repeat-four-width-div {
    width: 45%;
    margin-right: 5%;
}
}
/* WJ CSS End */